appdirs==1.4.2
appnope==0.1.0
atari-py==0.0.18
autobahn==0.17.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bleach==1.5.0
box2d-py==2.3.1
certifi==2017.1.23
configparser==3.5.0
constantly==15.1.0
cycler==0.10.0
decorator==4.0.11
docker-py==1.10.3
docker-pycreds==0.2.1
entrypoints==0.2.2
enum34==1.1.6
fastzbarlight==0.0.14
funcsigs==1.0.2
functools32==3.2.3.post2
go-vncdriver==0.4.19
gym==0.7.2
h5py==2.6.0
html5lib==0.9999999
imageio==2.1.1
incremental==16.10.1
ipaddress==1.0.18
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.4
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
Keras==1.2.2
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
mock==2.0.0
mujoco-py==0.5.7
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.3.1
numexpr==2.6.1
numpy==1.12.0
oauthlib==2.0.1
olefile==0.44
pachi-py==0.0.21
packaging==16.8
pandas==0.19.2
pandoc==1.0.0b2
pandocfilters==1.4.1
pathlib2==2.2.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
pkg-resources==0.0.0
ply==3.10
prompt-toolkit==1.0.9
protobuf==3.2.0
ptyprocess==0.5.1
pygame==1.9.3
pyglet==1.2.4
Pygments==2.2.0
PyOpenGL==3.1.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qPython==1.2.0
qtconsole==4.2.1
requests==2.10.0
requests-oauthlib==0.7.0
scandir==1.4
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
sklearn-pandas==1.3.0
subprocess32==3.2.7
tables==3.3.0
tensorflow==1.0.0
terminado==0.6
testpath==0.3
Theano==0.8.2
tornado==4.4.2
traitlets==4.3.1
tweepy==3.5.0
Twisted==16.6.0
txaio==2.6.0
ujson==1.35
-e git+https://github.com/openai/universe@07c0ddea87a1bd9295bc3f79838eb63ea1e843bc#egg=universe
wcwidth==0.1.7
websocket-client==0.40.0
widgetsnbextension==1.2.6
zope.interface==4.3.3
